header {
    background: whitesmoke;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
  }

  header  img {
    height: 70px;
    width: auto;
  }
  
  header .nav-link {
    color: black;
    padding-bottom: 13px;
    border-bottom: 2px solid whitesmoke;
    -webkit-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
  }
  
  header .nav-link:hover {
     border-bottom: 2px solid #ffa600;
    color:  #ffa600;
  }
 

 

  /*second part*/
  

  li {
    float: left;
    display: block;
  }
  input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  label {
    display: block;
    padding: 14px 21px;
    position: relative;
    /* top: 4px; */
    cursor: pointer; 
  }

  [id^="tab"]:checked + label { 
    top: 0;
    padding-top: 14px; 
    color:#ffa600;
    border-bottom: 2px solid #ffa600; 
    /* color: white; */
  }
  [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
  }