<footer class="pb-4 pt-5" id="footer-section">

    <div class="social-links d-flex justify-content-center mb-5">
      <a routerLink="#" class="link mr-3 d-inline d-flex justify-content-center">
          <i class="social-link fab fa-facebook-f"></i>
      </a>
  
      <a routerLink="#" class="link mr-3 d-inline d-flex justify-content-center">
          <i class="social-link fab fa-twitter"></i>
      </a>
  
      <a routerLink="#" class="link mr-3 d-inline d-flex justify-content-center">
          <i class="social-link fab fa-youtube"></i>
      </a>
  
      <a routerLink="#" class="link mr-3 d-inline d-flex justify-content-center">
          <i class="social-link fab fa-instagram"></i>
      </a>
    </div>
    
    <div class="row">
  
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  
        <ul class="footer-list">
          <h5 class="mb-4"> Vår kurs</h5>
          <li><i class="fas fa-angle-right"></i> Priser</li>
          <li><i class="fas fa-angle-right"></i> priser</li>
          <li><i class="fas fa-angle-right"></i> Priser</li>
        </ul>
  
      </div>
  
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  
        <ul class="footer-list">
          <h5 class="mb-4"> Vårt företag</h5>
          <li><i class="fas fa-angle-right"></i> Ut sätningar</li>
          <li><i class="fas fa-angle-right"></i> Om oss</li>
          <li><i class="fas fa-angle-right"></i> Säker betalning</li>
          <li><i class="fas fa-angle-right"></i> Kontakta oss</li>
        </ul>
  
      </div>
  
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  
        <ul class="footer-list">
          <h5 class="mb-4">Rise and shine öppet tider</h5>
          <li><i class="fas fa-angle-right"></i>Classes in Session</li>
          <li><i class="fas fa-angle-right"></i>Mon-Thur: 5:00 pm to 9:00 pm</li>
          <li><i class="fas fa-angle-right"></i>Call or Email to speak with Owner</li>
               </ul>
  
      </div>
  
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  
        <ul class="footer-list">
          <h5 class="mb-4">kontakta oss</h5>
          <p>Samsala Skogstorp 271</p>
          <p>694 92 Hallsberg</p>
          <p>Sverige</p>
          <li><i class="fas fa-phone mt-3"></i>Ring oss: +46 (0)70-331 34 99</li>
          <li><i class="fas fa-envelope mt-3" type="Email"></i> Email: camilla@rise-and-shine.se</li>
  
        </ul>
  
      </div>
  
    </div>
  
  </footer>